<div style="padding:20px;">
    <div style="border-bottom: 1px solid #eee;">
        <h1>北京十二中韶华文学社</h1>
    </div>
    <h4>推荐文章：</h4>
    <ul>
        <% sz=Article.all.size-1 %>
        <% 8.times { %>
            <% arc = Article.find(rand(sz)+1)%>
            <li><a href="/article/<%=arc.arc_hash%>"><%=arc.arc_title%></a> by.<small><%=arc.arc_author%></small>&nbsp;&nbsp;<%=arc.arc_top%>&nbsp;thumbs/<%=arc.arc_view%>&nbsp;views;(Rate: <%=sprintf("%.3f",arc.arc_rate/1000.0)%>) <%=arc.arc_type.gsub("db.","")%><br><%=arc.arc_content[0..64]%>...</p>
        <% } %>
    </ul>
    <h4>全部文章：</h4>
    <ul>
        <% Article.all.order(:arc_rate).reverse.each do |arc| %>
            <li><a href="/article/<%=arc.arc_hash%>"><%=arc.arc_title%></a> by.<small><%=arc.arc_author%></small>&nbsp;&nbsp;<%=arc.arc_top%>&nbsp;thumbs/<%=arc.arc_view%>&nbsp;views;(Rate: <%=sprintf("%.3f",arc.arc_rate/1000.0)%>) <%=arc.arc_type.gsub("db.","")%><br><%=arc.arc_content[0..64]%>...</p>
        <% end %>
    </ul>
    <div style="border-top: 1px solid #eee;">
        <small>
            <p>北京市第十二中学校园网网站 北京市第十二中学韶华文学社</p>
            <p>A Part of the Campus Website of Beijing Number Twelve High School. Shaohua Student Literary Society in Beijing Number Twelve High School in China, Organization.</p>
            <p>Articles Are Published Under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International.</p>
            <p><a href="http://bj12hs.com.cn/">北京市第十二中学</a></p>
            <!--
            #==================================================================================================#
            #=========================================== 测试服务器 ===========================================#
            #==================================================================================================#
            #============== No.15, YiZe Road, FengTai District, 100071, Beijing No.12 High School =============#
            #============ sh.bj12hs.com.cn {京ICP备05069732;京公网安备110106000382号} bj12hs.com.cn ============#
            #==================================================================================================#
            -->
            </small>
            </div>
    <%=render :template=>navlogin[0],:locals=>{:usracc=>navlogin[1]}%>
</div>
<div style="color:#FF0000;padding:20px;border: 12px solid #eee;">
    <p>--------------------------------------</p>
    <p>Hello visiter from January 1th, 1970.</p>
    <p>Today is December 13th, 1901.</p>
    <p>--------------------------------------</p>
    <p>Well that's a joke, but you'd better <br>
       check out you whether you are using a <br>
       Internet Explorer 5 / 6 / 7 / 8 .</p>
</div>
