<nav class="cd-nav">
  <ul id="cd-primary-nav" class="cd-primary-nav">
    <li><a href="/">首页</a></li>
    <li class="has-children">
      <a href="/article">精品文章</a>
      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a class="nav" href="#0">返回</a></li>
        <li class="see-all"><a class="nav" href="/article">文章一览</a></li>
          <li class="has-children">
            <a href="/article/mostvisited">
              <%= I18n.t :most_visited %>
            </a>
            <ul class="is-hidden pt202">
              <li class="go-back"><a class="nav" href="#0">返回</a></li>
              <li class="see-all"><a class="nav" href="/article/<%=type.gsub('db.','')%>">全部<%=typee%></a></li>
                <li><a href="/article/"></a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#">
              <%=typee={"db.prose"=>"散文","db.novel"=>"小说","db.poetry"=>"诗歌","db.drama"=>"短剧"}[type]%>
            </a>
            <ul class="is-hidden pt202">
              <li class="go-back"><a class="nav" href="#0">返回</a></li>
              <li class="see-all"><a class="nav" href="/article/<%=type.gsub('db.','')%>">全部<%=typee%></a></li>
                <li><a href="/article/"></a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#">
              <%=typee={"db.prose"=>"散文","db.novel"=>"小说","db.poetry"=>"诗歌","db.drama"=>"短剧"}[type]%>
            </a>
            <ul class="is-hidden pt202">
              <li class="go-back"><a class="nav" href="#0">返回</a></li>
              <li class="see-all"><a class="nav" href="/article/<%=type.gsub('db.','')%>">全部<%=typee%></a></li>
                <li><a href="/article/"></a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="#">
              <%=typee={"db.prose"=>"散文","db.novel"=>"小说","db.poetry"=>"诗歌","db.drama"=>"短剧"}[type]%>
            </a>
            <ul class="is-hidden pt202">
              <li class="go-back"><a class="nav" href="#0">返回</a></li>
              <li class="see-all"><a class="nav" href="/article/<%=type.gsub('db.','')%>">全部<%=typee%></a></li>
                <li><a href="/article/"></a></li>
            </ul>
          </li>
      </ul>
    </li>
    <li class="has-children">
      <a href="/periodical">月刊文选</a>
      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a class="nav" href="#0">返回</a></li>
        <li class="see-all"><a class="nav" href="/periodical">月刊一览</a></li>
          <li>
            <!--<a class="cd-nav-item" href="/periodical/">
              <div class="pt2020nav"><img src="/periodical/cover/.webp" alt="" onError="this.src='/periodical/cover/.png'"></div>
              <h3 class="text-center"></h3>
            </a>-->
          </li>
      </ul>
    </li>
    <li class="has-children">
      <a href="/bbs">小径深处的花园</a>
      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a class="nav" href="#0">返回</a></li>
        <li class="see-all"><a class="nav" href="/bbs/">个人空间</a></li>
        <div class="col-lg-6"><%=render :template=>"web_shell/nav_pic"%></div>
        <div class="col-lg-6"></div>
      </ul>
    </li>
    <li><a href="/about">关于韶华</a></li>
  </ul>
</nav>
