<p>&nbsp;</p>
<div class="cd-cont">
    <%= form_tag({:controller=>"articles",:action=>act},{:method=>mtd,:multipart=>"true",:onkeydown=>"if(event.ctrlKey&&event.keyCode==13)this.submit()"}) do %>
        <div class="input-group">
            <span class="input-group-addon chinese">文章哈希</span>
            <%= text_field "article","arc_hash",:class=>"form-control chinese",:placeholder=>"ArticleHash",:value=>@arc.arc_hash%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章标题</span>
            <%= text_field "article","arc_title",:class=>"form-control chinese",:placeholder=>"ArticleTitle",:value=>@arc.arc_title%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">作者标签</span>
            <%= text_field "article","arc_preauthor",:class=>"form-control chinese",:placeholder=>"ArticlePreAuthor",:value=>@arc.arc_preauthor%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章作者</span>
            <%= text_field "article","arc_author",:class=>"form-control chinese",:placeholder=>"ArticleAuthor",:value=>@arc.arc_author%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章分类</span>
            <%= select "article","arc_type",{"散文类"=>"db.prose","小说类"=>"db.novel","诗歌类"=>"db.poetry","短剧类"=>"db.drama"},{},{:class=>"form-control chinese"}%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章题记</span>
            <%= text_area "article","arc_beforecontent",:style=>"width:100%",:class=>"form-control chinese",:placeholder=>"ArticleBeforeContent",:value=>@arc.arc_beforecontent%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">题记标签</span>
            <%= text_field "article","arc_attrbeforecontent",:class=>"form-control chinese",:placeholder=>"ArticleAttrBeforeContent",:value=>@arc.arc_attrbeforecontent%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章正文</span>
            <%= text_area "article","arc_content",:style=>"width:100%",:class=>"form-control chinese",:placeholder=>"ArticleContent",:value=>@arc.arc_content%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">后记标签</span>
            <%= text_field "article","arc_attraftercontent",:class=>"form-control chinese",:placeholder=>"ArticleAttrAfterContent",:value=>@arc.arc_attrbeforecontent%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章后记</span>
            <%= text_area "article","arc_aftercontent",:style=>"width:100%",:class=>"form-control chinese",:placeholder=>"ArticleAfterContent",:value=>@arc.arc_aftercontent%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">所属月刊</span>
            <%= text_field "article","arc_prdhash",:style=>"width:100%",:class=>"form-control chinese",:placeholder=>"ArticlePeriodicalHash",:value=>@arc.arc_prdhash%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章编号</span>
            <%= text_field "article","arc_prdnumber",:class=>"form-control chinese",:placeholder=>"ArticlePeriodicalNumber",:value=>@arc.arc_prdnumber%>
        </div>
        <div class="input-group">
            <span class="input-group-addon chinese">文章图片</span>
            <%= file_field "article","arc_picture",:class=>"form-control chinese",:placeholder=>"ArticlePicture"%>
        </div>
        <p class="text-right"><input role="button" class="btn btn-default chinese" type="submit" value="提交"></p>
    <% end %>
</div>
