<div id="cd-author">
    <div id="cd-author-head">
    </div>
    <div id="cd-author-info">
    </div>
    <div id="cd-author-article">
        <p>Type:</p>
        <p><a class="btn btn-default" href="/article/<%=@article.arc_type.gsub("db.","")%>"><%=@article.arc_type.gsub("db.","")%></a></p>
        <p>Author:</p>
        <p><a class="btn btn-default" href="/bbs/<%=@article.arc_author_hash%>"><%=@article.arc_author%></a></p>
        <p>Same article from this author:</p>
        <p><% Article.same_author(@article.arc_author_hash).each{|w| %>
            <a class="btn btn-default" href="<%=w.arc_hash%>"><%=w.arc_title%></a>
        <% } %></p?
    </div>
</div>
