<% title '编辑文章 - '%>
<%= form_tag({:controller=>"articles",:action=>"update_article"},{:method=>"put",:multipart=>"true",:onkeydown=>"if(event.ctrlKey&&event.keyCode==13)this.submit()"}) do %>
    <div class="input-group">
        <span class="input-group-addon chinese">文章哈希</span>
        <%= text_field "article","archash",:class=>"form-control chinese",:placeholder=>"ArticleHash",:required=>"true"%>
    </div>
    <div class="input-group">
        <span class="input-group-addon chinese">文章标题</span>
        <%= text_field "article","arctitle",:class=>"form-control chinese",:placeholder=>"ArticleTitle",:required=>"true"%>
    </div>
    <div class="input-group">
        <span class="input-group-addon chinese">文章作者</span>
        <%= text_field "article","arcauthor",:class=>"form-control chinese",:placeholder=>"ArticleAuthor",:required=>"true"%>
    </div>
    <div class="input-group">
        <span class="input-group-addon chinese">文章分类</span>
        <%= select "article","arctype",{
                                        "散文类"=>"db.prose",
                                        "小说类"=>"db.novel",
                                        "诗歌类"=>"db.poetry",
                                        "戏剧类"=>"db.drama"
                                                                                },{},{:class=>"form-control chinese"}%>
    </div>
    <div class="input-group">
        <span class="input-group-addon chinese">文章正文</span>
        <%= text_area "article","arccontent",:style=>"width:100%",:class=>"form-control chinese",:placeholder=>"ArticleContent",:required=>"true"%>
    </div>
    <p class="text-right"><input role="button" class="btn btn-default chinese" type="submit" value="提交"></p>
<% end %>