<% unless (@periodical rescue nil)%>
<p>&nbsp;</p>
<%title @article.arc_title+' - '%>
<div class="container2">
    <div class="page-header">
        <h1><%=@article.arc_title%> <small>——<%=@article.arc_author%></small></h1>
    </div>
    <div class="arc-indent">
        <div class="col-md-8">
            <%@article.arc_content.each_line do |w|%>
                <p><%=w%></p>
            <% end %>
        </div>
    </div>
    <div class="col-md-4 landscape">
        <div class="thumbnail container2">
            <div id="cd-arc-info" archsh="<%=@article.arc_hash%>"></div>
            <div id="cd-arc-tag" archsh="<%=@article.arc_hash%>"></div>
            <div id="cd-arc-comment" archsh="<%=@article.arc_hash%>"></div>
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </div>
    </div>
</div>
<% else %>
<div class="cd-perio-back">
<%title @article.arc_title+' - '%>
    <div class="cd-perio">
        <div class="cd-perio-text">
            <img src="/periodical/img/<%=@article.arc_hash%>.jpg">
            <div class="page-header">
                <h1 class="text-center"><%=@article.arc_title%></h1>
                <p class="text-right cd-perio-author"><%=@article.arc_preauthor%><%=@article.arc_author%></p>
            </div>
            <% unless @article.arc_beforecontent.blank?%>
                <%@article.arc_beforecontent.each_line do |w|%>
                    <p><%=w%></p>
                <% end %>
                <p class="text-right paddingright2em"><%=@article.arc_attrbeforecontent%></p>
            <% end %>
            <p></p>
            <%@article.arc_content.each_line do |w|%>
                <p><%=w%></p>
            <% end %>
            <% unless @article.arc_aftercontent.blank?%>
                <p>&nbsp;</p>
                <p class="no-text-indent halflinemargin"><%=@article.arc_attraftercontent%></p>
                <%@article.arc_aftercontent.each_line do |w|%>
                    <p><%=w%></p>
                <% end %>
            <% end %>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
<% end %>
