<% unless (@periodical rescue nil)%>
<p>&nbsp;</p>
<%title @article.arctitle+' - '%>
<div class="container2">
    <div class="arc-indent">
        <div class="page-header">
            <h1><%=@article.arctitle%> <small>——<%=@article.arcauthor%></small></h1>
        </div>
        <div class="col-md-8">
            <%@article.arccontent.each_line do |w|%>
                <p><%=w%></p>
            <% end %>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
            
            </div>
        </div>
    </div>
</div>
<% else %>
<div class="cd-perio-back">
    <div class="cd-perio">
        <div class="cd-perio-text">
            <img src="/periodical/img/tst1.jpg">
            <div class="page-header">
                <h1 class="text-center"><%=@article.arctitle%></h1>
                <p class="text-right cd-perio-author"><%=@article.arcpreauthor%><%=@article.arcauthor%></p>
            </div>
            <% unless @article.arcbeforecontent.blank?%>
                <%@article.arcbeforecontent.each_line do |w|%>
                    <p><%=w%></p>
                <% end %>
                <p class="text-right paddingright2em"><%=@article.arcattrbeforecontent%></p>
            <% end %>
            <p></p>
            <%@article.arccontent.each_line do |w|%>
                <p><%=w%></p>
            <% end %>
            <% unless @article.arcaftercontent.blank?%>
                <p>&nbsp;</p>
                <p class="no-text-indent halflinemargin"><%=@article.arcattraftercontent%></p>
                <%@article.arcaftercontent.each_line do |w|%>
                    <p><%=w%></p>
                <% end %>
            <% end %>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
<% end %>