<p>Administration Shell</p>
<p><a href="<%=admin_shell_path%>">admin_shell_path</a></p>
<p><br></p>
<p><a href="<%=new_shell_user_registration_path%>">new_shell_user_registration_path</a></p>
<p><a href="<%=new_shell_user_session_path%>">new_shell_user_session_path</a></p>
<p><a href="<%=new_shell_user_password_path%>">new_shell_user_password_path</a></p>
<p><br></p>
<p><a href="<%=bbs_user_new_path%>">bbs_user_new_path</a></p>
<p><a href="<%=bbs_local_path%>">bbs_local_path</a></p>
<p><br></p>
<p><a href="/">root_path</a></p>
