<div class="page-header">
  <h1><%= "Super User Do " if @adminsudo %><%= @funcname %> <small>web_admin#<%=@methodname%></small></h1>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Parameters</h3>
  </div>
  <div class="panel-body">
    <%= params.inspect %>
  </div>
</div>
<% if (@alert rescue nil)%>
<% @alert.each do |echalert| %>
<div class="alert <%= echalert[1] %>" role="alert">
  <%=  echalert[0] %>
</div>
<% end %>
<% if (@layout rescue nil)%>
<%= @layout %>
<% end %>
<% if (@well rescue nil)%>
<div class="well">
  <%= @well %>
</div>
<% end %>