<!DOCTYPE html>
<html>
<head>
  <!-- Force UTF-8 decoding -->
  <meta charset="utf-8">
  <!-- Force WebKit rendering for dual-engine browser -->
  <meta name="renderer" content="webkit">
  <!-- Force Internet Explorer to Edge mode -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Set Mobile Initial Scale to 1.0 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- MainSite Icon -->
  <link rel="icon" href="/favicon.ico">
  <!-- Title -->
  <title><%= yield :title %></title>
  <!-- Style Sheet -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <!-- CSRF Meta Tags -->
  <%= csrf_meta_tags %>
  <!-- Main Style Sheet -->
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
  <!-- Bookmark for BackToTop -->
  <a name="top"></a>
  <!-- WebSite Update Notification -->
  <div style="text-align: center;font-size: xx-large; padding: 4%; background: white; z-index: 3; border-bottom-color: rgb(221, 221, 221); border-bottom-style: solid; border-bottom-width: 1px; font-weight: 100; font-family: 'Microsoft Yahei'">网站升级中...</div>
  <!-- CD-Main-Header -->
  <header class="cd-main-header">
    <!-- CD-Logo -->
    <a class="cd-logo" href="/"><img src="/img/cd-logo.svg" alt="Logo"></a>
    <ul class="cd-header-buttons">
      <li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
      <li><a class="cd-nav-trigger" href="#cd-primary-nav"><span></span></a></li>
    </ul>
  </header>
  <!-- Notice Bar -->
  <div class="cd-notice">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <!-- Navigator -->
  <%= render :template=>'web_shell/mainsite_navigator' %>
  <main class="cd-main cd-main-content">
    <div class="cd-overlay"></div>
    <%= yield %>
  </main>
  <!-- BackToTop Button -->
  <a href="#0" class="cd-back-top">Top</a>
  <!-- Footer -->
  <footer class="cd-footer">
    <%= render :template=>'web_shell/mainsite_footer' %>
  </footer>
  <!-- StylerSheets and JavaScripts -->
  <div class="cd-js">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/jquery.mobile.custom.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <script src="/js/backtotop.js"></script>
    <script src="/js/jquery.mixitup.min.js"></script>
    <script src="/js/velocity.min.js"></script>
    <script src="/js/main.js"></script>
  </div>
</body>
</html>
